@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700&display=swap');



.o-Dashboard {
  display: flex;
  flex: 1 0 100%;
  height: 100%;
}

.o-Dashboard__sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: rgba(88, 100, 246, 1);
  color: white;
  max-width: 80px;
}

.o-Dashboard__logo {
  display: flex;
  width: 80px;
  height: 93px;
  justify-content: center;
  align-items: center;
}

.o-Dashboard__menu {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.c-Menu {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.c-Menu__footer, .c-Menu__main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.c-Menu__footer {
  margin-bottom: 1rem;
}

.c-Menu__item {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 1.25rem 0;
  background-color: rgba($color-brand-primary-highlight, 0);
  transition: 0.2s ease background-color;

  &:hover {
    background-color: rgba($color-brand-primary-highlight, 1);
  }

  &.isActive {
    background-color: $color-brand-primary-highlight;
    &:before {
      content: '';
      position: absolute;
      width: 3px;
      height: 100%;
      top: 0;
      left: 0;
      background-color: $color-white;
    }
  }

  .c-Icon {
    width: 1.25rem;
    height: 1.25rem;

    path, rect {
      fill: $color-white;
    }
  }
}

.o-Dashboard__content {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1 0 100%;
}

.o-Dashboard__header {
  padding: 1.5rem 2rem;
}

.o-Dashboard__item {
  overflow: scroll;
  background-color: rgb(246,248,254);
  padding: 2rem;
  height: 100%;
}


.c-Search {
  position: relative;
  display: inline-flex;

  &:hover {
    .c-Search__icon {
      .c-Icon {
        path {
          fill: $color-brand-primary;
        }
      }
    }
  }
}

.c-Search__icon {
  position: absolute;
  display: flex;
  align-items: center;
  height: 100%;
  pointer-events: none;
  margin-left: 0.875rem;
  transition: 0.5s ease all;

  .c-Icon {
    path {
      fill: $color-brand-primary-highlight;
    }
  }
}

.c-Search__input {
  padding: 0.5rem;
  border-radius: 30px;
  border: 1px solid rgba($color-grey-light, 1);
  font-size: 15px;
  padding-left: 2.5rem;
  outline: none;
  color: $color-grey;
  transition: 0.5s ease all;

  &:hover, &:focus {
    border-color: rgba($color-brand-primary-highlight, 1);
  }
}

.c-Search + .c-Select, .c-Select + .c-Select {
  margin-left: 2rem;
}

.c-Select {
  position: relative;
  display: inline-flex;

  &:hover {
    .c-Select__icon {
      path {
        fill: rgba($color-brand-primary, 1); 
      }
    }
    .c-Select__select {
      color: rgba($color-brand-primary, 1);
      background-color: rgba($color-brand-primary-highlight, 0.1);
    }
  }
}

.c-Select__icon {
  position: absolute;
  display: flex;
  align-items: center;
  right: 0.45rem;
  pointer-events: none;
  height: 100%;
  transition: 0.2s ease all;

  .c-Icon {
    width: 0.75rem;
    height: 0.75rem;
    margin-bottom: 3px;

    path {
      fill: $color-grey;
    }
  }
}

.c-Select__select {
  -webkit-appearance: none;
  border: none;
  color: rgba($color-grey, 1);
  font-size: 0.75rem; 
  background-color: $color-white;
  padding: 0.5rem 1.65rem 0.5rem 0.55rem;
  text-transform: uppercase;
  background-color: rgba($color-brand-primary-highlight, 0);
  transition: 0.2s ease all;
}

.o-Group {
  display: flex;
  color: grey;
}

.o-Group__item + .o-Group__item {
  padding-left: 2rem;
  margin-left: 2rem;
  border-left: 1px solid black;
}

.o-Group__item {
  height: 100%;
}

.c-Component {
  
}

.c-Component + .c-Component {
  margin-top: 0.85rem;
}

.c-Component__list {
  margin-left: 1rem;
}

.c-Component__list-item {
  
}

.c-Component__list-item + .c-Component__list-item {
  margin-top: 0.25rem;
}