@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700&display=swap');



.o-Dashboard {
  display: flex;
  flex: 1 0 100%;
  height: 100%;
}

.o-Dashboard__sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: rgba(88, 100, 246, 1);
  color: white;
  max-width: 80px;
}

.o-Dashboard__logo {
  display: flex;
  width: 80px;
  height: 100px;
  justify-content: center;
  align-items: center;
}

.o-Dashboard__menu {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.c-Menu {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.c-Menu__footer, .c-Menu__main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.c-Menu__item {
  .c-Icon {
    path, rect {
      fill: $color-white;
    }
  }
}

.o-Dashboard__content {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1 0 100%;
}

.o-Dashboard__header {
  display: flex;
  height: 100px;
}

.o-Dashboard__item {
  overflow: scroll;
  background-color: rgb(246,248,254);
  padding: 2rem;
  height: 100%;
}

.c-Search {
  padding: 0.5rem;
  border-radius: 30px;
  border: 1px solid $color-grey-light;
  font-size: 15px;
  padding-left: 2rem;
  outline: none;

  &:focus {
    border-color: $color-brand-primary-highlight;
  }
}

.o-Group {
  display: flex;
  color: grey;
}

.o-Group__item + .o-Group__item {
  padding-left: 2rem;
  margin-left: 2rem;
  border-left: 1px solid black;
}

.o-Group__item {
  height: 100%;
}

.c-Component {
  
}

.c-Component + .c-Component {
  margin-top: 0.85rem;
}

.c-Component__list {
  margin-left: 1rem;
}

.c-Component__list-item {
  
}

.c-Component__list-item + .c-Component__list-item {
  margin-top: 0.25rem;
}