.o-Group {
  display: inline-flex;
  flex-direction: row;
  height: 100%;
  padding: 1rem;
  min-width: 180px;
}

.o-Group + .o-Group {
  margin-left: 2rem;
  padding-left: 3rem;
  border-left: 1px solid $color-grey-light;
}

.o-Group__item {
  height: 100%;
}

.o-Group__headline {
  display: flex;
  align-items: center;
}

.o-Group__icon {
  display: flex;
  align-items: center;
  margin-bottom: 2px;

  .c-Icon {
    width: 0.75rem;
    height: 0.75rem;
  }

  path {
    fill: $color-grey;
    stroke: $color-grey;
    stroke-width: 5px;
  }
}

.o-Group__icon + .o-Group__title {
  margin-left: 0.5rem;
}

.o-Group__title {
  color: $color-grey;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.o-Group__headline + .c-Component {
  margin-top: 1rem;
}

.c-Component {
  display: flex;
  flex-direction: column;
  margin-left: 0.5rem;
}

.c-Component__headline {
  display: inline-flex;
  align-items: center;
  cursor: pointer;

  &:hover, &.isActive {
    .c-Component__dropdown {
      .c-Icon {
        transform: rotate(0);
      }
    }
  }
}

.c-Component__dropdown {
  display: flex;
  align-items: center;

  .c-Icon {
    width: 0.5rem;
    height: 0.5rem;
    margin-right: 0.35rem;
    transform: rotate(-90deg);
    transition: 0.25s ease all;

    path {
      fill: $color-grey;
    }
  }
}

.c-Component__icon {
  .c-Icon {
    width: 0.75rem;
    height: 0.75rem;
  }

  path {
    fill: $color-brand-secondary-2;
  }
}

.c-Component__icon + .c-Component__title {
  margin-left: 0.35rem
}

.c-Component__title {
  font-size: 0.875rem;
  color: $color-grey;
  font-weight: 300;
}

.c-Component + .c-Component {
  margin-top: 0.85rem;
}

.c-Component__list {
  list-style: none;
  margin-left: 2rem;
  margin-bottom: 0;

  .c-Icon {
    width: 0.65rem;
    height: 0.65rem;
    path {
      fill: $color-brand-secondary;
    }
  }
}

.c-Component__headline, .c-Component__item {
  padding: 0.15rem;

  .c-Component__title {
    border-bottom: 1px solid rgba($color-brand-primary-highlight, 0);
    transition: 0.25s ease all;
  }

  &:hover, &.isActive {
    .c-Component__title {
      border-bottom-color: rgba($color-brand-primary-highlight, 0.75);
    }
  }
}

.c-Component__headline + .c-Component__list, .c-Component__item + .c-Component__item {
  margin-top: 0.35rem;
}

.c-Component__item {
  cursor: pointer;
}