.o-Dashboard {
  display: flex;
  flex: 1 0 100%;
  height: 100%;
  flex-direction: column;
}

.o-Dashboard__sidebar {
  display: none;
  flex-direction: column;
  height: 100%;
  background-color: rgba(88, 100, 246, 1);
  color: white;
  max-width: 80px;
}

.o-Dashboard__logo {
  display: flex;
  width: 80px;
  height: 93px;
  justify-content: center;
  align-items: center;
}

.o-Dashboard__menu {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.o-Dashboard__content {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.o-Dashboard__header {
  display: none;
  padding: 1.5rem 2rem;
}

.o-Dashboard__item {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  background-color: rgb(246,248,254);
  padding: 1rem;
  flex: 1 0 100%;
}

@media screen and (min-width: 750px) {
  .o-Dashboard {
    flex-direction: row;
  }

  .o-Dashboard__sidebar {
    display: flex;
  }

  .o-Dashboard__header {
    display: flex;
  }
  
  .o-Dashboard__item {
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;
  }
}