.c-Footer {
  display: flex;
  position: relative;
  justify-content: space-around;
  flex: 1 0 auto;
  padding-bottom: env(safe-area-inset-bottom);
}

.c-Footer__item {
  padding: 1rem 0;
  font-weight: 500;
  font-size: 0.75rem;
  flex: 1 0 auto;
  text-align: center;
  border-bottom: 3px solid rgba($color-brand-primary, 0);
  transition: 0.25s ease all;


  &:hover, &.isActive {
    border-bottom-color: rgba($color-brand-primary, 1);
  }
}

.c-Footer__dropdown {
  position: absolute;
  display: none;

  .c-Footer.isActive & {
    display: flex;
    padding: 1rem;
    bottom: 100%;
    width: 100%;
    background-color: $color-white;
    border-bottom: 1px solid $color-grey-light;
  }
}

@media screen and (min-width: 750px) {
  .c-Footer {
    display: none;
  }
}