.c-Component {
  display: flex;
  flex-direction: column;
  margin-left: 0.25rem;
}

.c-Component__headline {
  display: inline-flex;
  align-items: center;
  cursor: pointer;

  .c-Component.hasChildren & {
    .c-Component__dropdown {
      .c-Icon {
        transform: rotate(0);
      }
    }
  }
}

.c-Component__dropdown {
  display: flex;
  align-items: center;

  .c-Icon {
    width: 0.5rem;
    height: 0.5rem;
    margin-right: 0.5rem;
    transform: rotate(-90deg);
    transition: 0.25s ease all;

    path {
      fill: $color-grey;
    }
  }
}

.c-Component__icon {
  .c-Icon {
    width: 0.75rem;
    height: 0.75rem;
  }

  path {
    fill: $color-brand-secondary-2;
  }
}

.c-Component__icon + .c-Component__title {
  margin-left: 0.35rem
}

.c-Component__title {
  font-size: 0.875rem;
  color: $color-grey;
  font-weight: 300;
}

.c-Component + .c-Component {
  margin-top: 0.5rem;
}

.c-Component__list {
  list-style: none;
  margin-left: 2rem;
  margin-bottom: 0;
  max-height: 0;
  overflow: hidden;
  opacity: 0.75;
  transition: 0.15s ease all;

  .c-Icon {
    width: 0.65rem;
    height: 0.65rem;
    path {
      fill: $color-brand-secondary;
    }
  }

  .c-Component.hasChildren & {
    max-height: 100rem;
    opacity: 1;
  }
}

.c-Component__headline, .c-Component__item {
  padding: 0.15rem;

  .c-Component__title {
    border-bottom: 1px solid rgba($color-brand-primary-highlight, 0);
    transition: 0.25s ease all;
  }

  &:hover, &.isActive {
    .c-Component__title {
      border-bottom-color: rgba($color-brand-primary-highlight, 0.75);
    }
  }
}

.c-Component__headline + .c-Component__list .c-Component__item:first-child, .c-Component__item + .c-Component__item {
  padding-top: 0.5rem;
}

.c-Component__item {
  cursor: pointer;
}